{% extends 'base.html' %} {% block content %}

<div class="container-horario">
  <h2>Programacion</h2>
  <section class="header">
    <p>Datos generales</p>
    <table>
      <tr class="fondo-opaco">
        <td>Carnet universitario</td>
        <td>{{user.cu}}</td>
      </tr>
      <tr>
        <td>Carrera</td>
        <td>{{user.carrera}}</td>
      </tr>
      <tr class="fondo-opaco">
        <td>Universitario</td>
        <td>{{user.name}} {{user.last_name}}</td>
      </tr>
    </table>
  </section>
  <br />
  <section class="notas">
    <p>Horarios</p>
    <p>Los horarios en <span style="color: red;">ROJO</span> son los menos sugeridos</p>
    <table>
      <thead>
        <th>Sigla</th>
        <th>Materia</th>
        <th>Curso</th>
        <th>Grupo teorico</th>
        <th>Grupo laboratorio</th>
        <th></th>
      </thead>
      <form action="{% url 'programacion' %}" method="post">
        {% csrf_token %}
        <tbody>
          {%for materia in horarios%}
          <tr>
            <td>{{materia.sigla}}</td>
            <td>{{materia.nombre}}</td>
            <td>{{materia.curso}}</td>
            {%if materia.lab %}
            <td>
              <select name="{{materia.nombre}}">
                <option value="{{i.0}}">-----</option>
                {%for i in materia.grupos%} {%if i.1%}
                <option value="{{i.0}}">{{i.0}}</option>
                {%else%}
                <option value="{{i.0}}" style="color: red">
                  {{i.0}}
                </option>
                {%endif%} {%endfor%}
              </select>
            </td>
            <td>
              <select name="{{materia.nombre}}">
                <option value="{{i.0}}">-----</option>
                {%for i in materia.grupos%} {%if i.1%}
                <option value="{{i.0}}">{{i.0}}</option>
                {%else%}
                <option value="{{i.0}}" style="color: red">
                  {{i.0}}
                </option>
                {%endif%} {%endfor%}
              </select>
            </td>
            {%else%}
            <td>
              <select name="{{materia.nombre}}">
                <option value="">-----</option>
                {%for i in materia.grupos%} {%if i.1%}
                <option value="{{i.0}}">{{i.0}}</option>
                {%else%}
                <option value="{{i.0}}" style="color: red">
                  {{i.0}}
                </option>
                {%endif%} {%endfor%}
              </select>
            </td>
            <td></td>
            {%endif%}
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <button class="btn btn-primary">Programarme</button>
            </td>
          </tr>
        </tfoot>
      </form>
    </table>
  </section>
  <script type=""></script>
</div>
{% endblock %}
