{% extends 'base.html' %} 
{% block content %}
<div class="container-kardex">
  <h2>Kardex</h2>
  <section class="header">
    <p>Datos generales</p>
    <table>
      <tr class="fondo-opaco">
        <td>Facultad</td>
        <td>Ciencia y tecnologia</td>
        <td>Carnet universitario</td>
        <td>{{user.cu}}</td>
      </tr>
      <tr>
        <td>Carrera</td>
        <td>{{user.carrera}}</td>
        <td>Numero de plan</td>
        <td>{{user.kardex.plan}}</td>
      </tr>
      <tr class="fondo-opaco">
        <td>Universitario</td>
        <td>{{user.name}} {{user.last_name}}</td>
        <td>Record Academico</td>
        <td>{}</td>
      </tr>
    </table>
  </section>
  <br />
  <section class="notas">
    <p>Kardex universitario</p>
    <table>
      <thead class="fondo-opaco">
        <th>Gestion</th>
        <th>Plan</th>
        <th>Curso</th>
        <th>Sigla</th>
        <th>Materia</th>
        <th>Final</th>
        <th>2da instancia</th>
        <th>Estado</th>
      </thead>
      <tbody>
        {% for calificacion in calificaciones%}
        <tr>
          <td>{{calificacion.gestion}}/{{calificacion.anio}}</td>
          <td>{{user.kardex.plan}}</td>
          <td>{{calificacion.materia.curso}}</td>
          <td>{{calificacion.materia.sigla}}</td>
          <td>{{calificacion.materia.nombre}}</td>
          <td>{{calificacion.final}}</td>
          {%if calificacion.segunda_instancia %}
          <td>{{calificacion.segunda_instancia}}</td>
          {%else%}
          <td>-</td>
          {%endif%} {%if calificacion.estado == "ap" %}
          <td>Aprobado</td>
          {%elif calificacion.estado == "rp" %}
          <td>Reprobado</td>
          {%else%}
          <td>Convalidado</td>
          {%endif%}
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </section>
</div>
{% endblock %}
