:root {
    --white-color: #FFF;
    --gray-color: #747270;
    --blue-color: #367FA9;
    --yellow-color: #F39C12;
    --font-color: rgb(210, 214, 222);
}

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    background: var(--font-color);
}

/* navar */
#img-estudiante {
    width: 1.8rem;
    border-radius: 50%;
}

#nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: var(--yellow-color);
    color: var(--white-color);
    padding: .7rem 1rem;
}

#nav * {
    display: flex;
    align-items: center;
}

#nav :first-child {
    font-size: 1.2rem;
}

#nav :first-child:first-child {
    margin-right: 5rem;
}

#nav :last-child {
    font-size: .8rem;
    align-items: center;
}

#nav :last-child :first-child {
    margin-right: 1rem;
}

/* menu */

#menu {
    width: 15%;
    padding: 1rem .5rem 0rem 1.2rem;
    background: var(--white-color);
    min-height: 90vh;
}

#menu header {
    display: flex;
    align-items: center;
    font-size: .8rem;
}

#menu header img {
    width: 2.4rem;
    border-radius: 50%;
    margin-right: .8rem;
}

#menu>p {
    font-size: 0.8rem;
    text-align: center;
}

ul {
    list-style: circle outside;
    margin: .5rem auto;
    margin-bottom: .8rem;
}

a {
    text-decoration: none;
    color: black;
}


#content {
    display: flex;
}

.container-kardex {
    margin: 0.5rem 1rem;
    width: 100%;
}

.container-kardex #header {
    background-color: var(--white-color);
    padding: .5rem 1.2rem;
    border-top: .2rem solid #367FA9;
    border-radius: .3rem;
}

.container-kardex #header p {
    margin: .5rem auto;
    margin-left: 0;
}

.container-kardex #header table,
#notas table {
    width: 100%;
}

.fondo-opaco {
    background-color: var(--font-color);
}

.container-kardex #notas {
    background-color: var(--white-color);
    padding: .5rem 1.2rem;
    border-top: .2rem solid #F39C12;
    border-radius: .3rem;
}

/* kardex */
.container-horario {
    width: 90%;
}