:root{
    --font-color:rgb(210, 214, 222);
    --gray-color:#747270;
    --blue-color: #367FA9;
}

*{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--font-color);
}

a {
    color: var(--blue-color) !important;
}

h2 {
    text-align: center;
    letter-spacing: .2rem;
}

footer{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

#content{
    width: 20%;
}

.form{
    background-color: white;
    padding: 1rem 1.5rem;
    padding-top: .3rem;
    border-radius: .6rem;
}

.iver{
    font-weight: normal !important;
    font-size: 1.4rem;
}

.form p{
    font-size: .75rem;
    color: var(--gray-color);
}

.form > :first-child{
    padding-top: .4rem;
    margin-bottom: 1.2rem;
}

.form form  input{
    width: 100%;
    padding: .5rem;
    margin-bottom: .8rem;
    color: var(--gray-color);
    border: 1px solid var(--gray-color);
    font-size: .75rem;
}

.form form input[type=button]{
    background: var(--blue-color);
    color: white;
}