{% load static %}
<section id="menu">
  <header>
    <img src="{% static 'images/estudiante1.jpg' %}" alt="estudiante" />
    <div>
      <span><b>Nombre estudiante</b></span
      ><br />
      <span>Nombre carrera</span>
    </div>
  </header>
  <p>Navegacion principal</p>
  <section id="opciones">
    <details class="opciones">
      <summary>Programaciones <i class="fa-solid fa-table"></i></summary>
      <ul>
        <li><a href="">Programarme</a></li>
        <li><a href="">Horario Sugerido</a></li>
      </ul>
    </details>
    <details class="opciones">
      <summary>Calificaciones <i class="fa-solid fa-pen-to-square"></i></summary>
      <ul>
        <li><a href="">Kardex</a></li>
      </ul>
    </details>
  </section>
</section>
