{% url 'kardex' as kardex %} 
{% url 'horario_sugerido' as horario_sugerido %}
{% url 'mis_programaciones' as mis_programaciones %}

{%load static %}
<section id="menu">
  <header>
    <img src="{% static 'images/estudiante1.jpg' %}" alt="estudiante" />
    <div>
      <span><b>{{user.name}}</b></span
      ><br />
      <span>{{user.carrera.nombre}}</span>
    </div>
  </header>
  <p>Navegacion principal</p>
  <section id="opciones">
    <details class="opciones">
      <summary>Programaciones <i class="fa-solid fa-table"></i></summary>
      <ul>
        <li><a href="{{mis_programaciones}}">Mis Programaciones</a></li>
        <li><a href="{{horario_sugerido}}">Programarme</a></li>
      </ul>
    </details>
    <details class="opciones">
      <summary>
        Calificaciones <i class="fa-solid fa-pen-to-square"></i>
      </summary>
      <ul>
        <li><a href="{{kardex}}">Kardex</a></li>
      </ul>
    </details>
  </section>
</section>
